*.a
*.la
*.lo
*.log
*.msi
*.o
*.trs
*~
.Tpo
.deps
.dirstamp
.libs
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
_config.hpp
aclocal.m4
autom4te.cache
build
compile
config.ac
config.guess
config.log
config.status
config.sub
configure
depcomp
depot
examples/olbp
examples/oclbp
examples/varlbp
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
megafile
missing
stamp-h1
test-driver
